@model OgrenciNotMvc.Models.EntityFramework.TBLOGRENCILER
@{
    ViewBag.Title = "OgrenciGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Ogrenci", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OGAD)
        @Html.TextBoxFor(m => m.OGAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OGSOYAD)
        @Html.TextBoxFor(m => m.OGSOYAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OGFOTO)
        @Html.TextBoxFor(m => m.OGFOTO, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OGKULUP)
        @Html.TextBoxFor(m => m.OGKULUP, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OGCINSIYET)
        @Html.TextBoxFor(m => m.OGCINSIYET, new { @class = "form-control" })
    </div>



    @Html.HiddenFor(m => m.OGRENCIID)
    <div style="margin-top:15px">
        <button class="btn btn-info">Guncelle</button>
    </div>
}
